In [9]:
num=int(input("Enter a number"))
if(num%3==0 and num%5==0):
    print("num is multiple of 3 and 5")
elif(num%5==0):
    print("num is multiple of 5")
elif(num%3==0):
    print("num is divisible by 3")
else:
    print("Default")

Enter a number15
num is multiple of 3 and 5

In [22]:
for i in range(1,101):
    print(i,end=" ")
print()
for j in range(1,101,2):
    print(j,end=" ")
print()
for k in range(2,101,2):
    print(k,end=" ")

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100
1 3 5 7 9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49 51 53 55 57 59 61 63 65 67 69 71 73 75 77 79 81 83 85 87 89 91 93 95 97 99
2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98 100

In [33]:
for i in range(100,0,-1):
    print(i,end=" ")
print()
for i in range(99,0,-2):
    print(i,end=" ")
print()
for i in range(100,-1,-2):
    print(i,end=" ")

100 99 98 97 96 95 94 93 92 91 90 89 88 87 86 85 84 83 82 81 80 79 78 77 76 75 74 73 72 71 70 69 68 67 66 65 64 63 62 61 60 59 58 57 56 55 54 53 52 51 50 49 48 47 46 45 44 43 42 41 40 39 38 37 36 35 34 33 32 31 30 29 28 27 26 25 24 23 22 21 20 19 18 17 16 15 14 13 12 11 10 9 8 7 6 5 4 3 2 1
99 97 95 93 91 89 87 85 83 81 79 77 75 73 71 69 67 65 63 61 59 57 55 53 51 49 47 45 43 41 39 37 35 33 31 29 27 25 23 21 19 17 15 13 11 9 7 5 3 1
100 98 96 94 92 90 88 86 84 82 80 78 76 74 72 70 68 66 64 62 60 58 56 54 52 50 48 46 44 42 40 38 36 34 32 30 28 26 24 22 20 18 16 14 12 10 8 6 4 2 0

In [35]:
for i in range(1,101):
    if(i==50):
        break
    print(i,end=" ")

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49

In [36]:
for i in range(1,101):
    if(i==50):
        continue
    print(i,end=" ")

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100

In [37]:
for i in range(1,101):
    if(i==50):
        pass
    print(i,end=" ")

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100

In [41]:
def function():
    print("func")
function()
def func2(n1,n2):
    print(n1,n2)
func2(20,10)

func
20 10

In [43]:
def func(n1,n2):
    n3=n1+n2
    print(n3)
func(10,30)

40

In [44]:
def fun(n1,n2):
    n3=n1+n2
    return n3
print("values are",fun(30,40))

values are 70

In [45]:
def f(n1,n2):
    n3=float(n1)+n2
    return n3
f('10',20.9)

30.9

In [48]:
def f(n1,n2):
    n3=float(n1)+n2
    return n3
f('10',20.9)

30

In [56]:
#positional arguement
def f(n1,n2,n3,n4,n5):
    print(n1,n2,n3,n4,n5)
f(10,20,30,40,60)
f(50,143,"Baddu Narendra","weds","Monica")

10 20 30 40 60
50 143 Baddu Narendra weds Monica

In [60]:
#key word arguement
def nm(n1,n2,n3):
    print(n1,n2,n3)
nm(n3=10,n2=20,n1=130)

130 20 10

In [69]:
#default arguements
def c_name(name,rollno,branch="cse",collegename="GIET"):
    print(name,rollno,branch,collegename)
c_name("Anuraag",2031)
c_name("Baddu",143)
c_name("Panda",14543,"ece")

Anuraag 2031 cse GIET
Baddu 143 cse GIET
Panda 14543 ece GIET

In [78]:
#variable number of arguement
def f(*var):
    for i in var:
        print(i,end=" ")
f(10,30)
print()
f(10,20,30)
print()
f(10,20,30,40)
print()

10 30
10 20 30
10 20 30 40

In [86]:

def f(*var):
    sum=0
    for i in var:
        sum=sum+i
    return(sum)
print(f(10,30))
print(f(10,20,30))
print(f(10,20,30,40))

40
60
100

In [92]:
def f(n1,n2,n3):
    if n1!=7 and n2!=7 and n3!=7:
        print(n1*n2*n3)
    elif(n1==7):
        print(n2*n3)
    elif(n2==7):
        print(n3)
    elif(n3==7):
        print(-1)
    else:
        print("Default")
f(1,5,7)
f(1,7,4)
f(7,5,6)

-1
4
30

In [98]:
currency=input("Enter currency name")
c_value=int(input("Enter Indian Currency"))
if(currency=="Euro"):
    print(c_value*0.01417)
elif(currency=="British_Pound"):
    print(c_value*0.0100)
elif(currency=="Australian_Dollar"):
    print(c_value*0.02140)
elif(currency=="Canadian_Dollar"):
    print(c_value*0.02027)
else:
    print("valid")

Enter currency nameBritish_Pound
Enter Indian Currency300
3.0

In [105]:
na=int(input("number of adullt"))
nc=int(input("number of children"))
price_of_adult=na*37550
price_of_child=nc*12516.67
t_c_b_d=price_of_adult+price_of_child
service_tax=(t_c_b_d*7)/100
t_overall=t_c_b_d+service_tax
t_c_ad=t_overall-((t_overall*10)/100)
#overall=price_of_adult+price_of_child-overall_tax
print(t_c_ad)

number of adullt5
number of children2
204910.35642

In [18]:
Avail_1_coins=int(input("Enter available 1 rs coins"))
Avail_5_coins=int(input("Enter available 5 rs coins"))
A_p=int(input("Enter purchased amount"))
Amount_Have=Avail_1_coins+(5*Avail_5_coins)
if(A_p>Amount_Have):
    print(-1)

else:
    q=A_p//5
    Total=A_p-(q*5)
    print(Total)
    print(q)

Enter available 1 rs coins3
Enter available 5 rs coins3
Enter purchased amount19
-1